<!DOCTYPE HTML>
<html>
<head>
  <title>Hang Game</title>
</head>
<body>
    <%= @current_guess %>
    <%= if @won do %>
    You guessed it correct!
    <% end %>
    <%= @wrong_tryouts %>
    
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="250" height="250">
    <%= if @wrong_tryouts > 0 do %>
        <line x1="200" x2="200" y1="200" y2="20" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square" />
    <% end %>
    <%= if @wrong_tryouts > 1 do %>    
        <line x1="100" x2="200" y1="20" y2="20" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square" />
    <% end %>
    <%= if @wrong_tryouts > 2 do %>    
        <line x1="100" x2="100" y1="20" y2="40" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @wrong_tryouts > 3 do %>    
        <circle cx="100" cy="56" r="10" stroke="black" stroke-width="5" fill="transparent" />
    <% end %>
    <%= if @wrong_tryouts > 4 do %>    
        <line x1="100" x2="100" y1="72" y2="130" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @wrong_tryouts > 5 do %>    
        <line x1="100" x2="75" y1="80" y2="100" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @wrong_tryouts > 6 do %>    
        <line x1="100" x2="125" y1="80" y2="100" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @wrong_tryouts > 7 do %>    
        <line x1="100" x2="75" y1="125" y2="170" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @wrong_tryouts > 8 do %>    
        <line x1="100" x2="125" y1="125" y2="170" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/> 
    <% end %>
    </svg>

    <form id="try" method="post" style="display: none">
        <input type="text" pattern="[a-z]" autofocus name="letter">
        <input type="submit" value="try">
    </form>
    <form action="/new" method="post">
        <input type="submit" value="new game">
    </form>

    <%= lc x inlist @tryouts_list do %>
        <span><%= [x] %></span>
    <% end %>

    <script>
        document.onkeypress = function(e) {
            var key = String.fromCharCode(e.keyCode);
            if (/^[a-z]$/i.test(key)) {
                document.querySelector('#try input[name=letter]').value = key;
                document.querySelector('#try').submit();
            }
        }
    </script>
</body>
</html>
