<!DOCTYPE HTML>
<html>
<head>
    <title>Guess the movie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 100%;
            line-height: 1.125em;
        }

        .secret {
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 1.5em;
            line-height: 2em;
            letter-spacing: 0.2em;
            margin-bottom: 5px;
        }
        .tryouts li {
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 1em;
            list-style-type: none;
            display: inline-block;
            text-align: center;
            min-width: 1em;
            min-height: 1em;
            margin-bottom: 3px;
            border: 1px solid black;
            border-radius: 2px;
        }
        .tryouts li:nth-child(4n+0) {
            background-color: #F0E68C;
        }
        .tryouts li:nth-child(4n+1) {
            background-color: #32CD32;
        }
        .tryouts li:nth-child(4n+2) {
            background-color: #F08080;
        }
        .tryouts li:nth-child(4n+3) {
            background-color: #B0C4DE;
        }

        .won, .lost {
            line-height: 2em;
            font-weight: bold;
        }

        #try {
            display: none;
        }
        #try input {
            width: 15em;
        }

        footer {
            color: gray;
            font-size: 0.75em;
            font-style: italic;
        }

        a {
            color: #800000;
        }
    </style>
</head>
<body>

    <form id="try" method="post">
        <input type="text" pattern="[a-z]" autofocus placeholder="click here to show the keyboard" name="letter">
    </form>


    <div class="secret">
        <%= if @lost do %>
            <%= @secret %>
        <% else %>
            <%= @partial_guess %>
        <% end %>
    </div>
    <%= if @won do %>
        <div class="won">
            You guessed it correct! <a href="/new">New game?</a>
        </div>
    <% else %> 
        <%= if @lost do %>
            <div class="lost">
                You lost! <a href="/new">New game?</a>
            </div>    
        <% end %>
    <% end %>
 
    <%= if length(@attempts_list) == 0 do %>
        <div>
            Hint: Start guessing the secret movie title by pressing a letter from the keyboard.
        </div>
    <% else %>
        <ul class="tryouts">
        <%= lc x inlist @attempts_list do %>
            <li><%= [x] %></li>
        <% end %>
        </ul>
    <% end %>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="250" height="250">
    <%= if @incorrect_attempts > 0 do %>
        <line x1="200" x2="200" y1="200" y2="20" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square" />
    <% end %>
    <%= if @incorrect_attempts > 1 do %>    
        <line x1="100" x2="200" y1="20" y2="20" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square" />
    <% end %>
    <%= if @incorrect_attempts > 2 do %>    
        <line x1="100" x2="100" y1="20" y2="40" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @incorrect_attempts > 3 do %>    
        <circle cx="100" cy="56" r="10" stroke="black" stroke-width="5" fill="transparent" />
    <% end %>
    <%= if @incorrect_attempts > 4 do %>    
        <line x1="100" x2="100" y1="72" y2="130" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @incorrect_attempts > 5 do %>    
        <line x1="100" x2="75" y1="80" y2="100" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @incorrect_attempts > 6 do %>    
        <line x1="100" x2="125" y1="80" y2="100" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @incorrect_attempts > 7 do %>    
        <line x1="100" x2="75" y1="125" y2="170" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/>
    <% end %>
    <%= if @incorrect_attempts > 8 do %>    
        <line x1="100" x2="125" y1="125" y2="170" stroke="black" fill="transparent" stroke-width="5" stroke-linecap="square"/> 
    <% end %>
    </svg>

    <footer> A tiny Elixir + Dynamo project of Lucho Yankov. <a href="https://github.com/lucho-yankov/hang-game" target="_blank">Check out the source code on GitHub.</a>
    </footer>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var letter_input = document.querySelector('#try input[name=letter]');
            var letter_form = document.querySelector('#try');
            document.onkeypress = function(e) {
                var key = String.fromCharCode(e.keyCode || e.charCode);
                if (/^[a-z]$/i.test(key)) {
                    letter_input.value = key;
                    letter_form.submit();
                }
            };
            if ('ontouchstart' in document.documentElement) {
                letter_form.style.display = 'block';
            }

            setTimeout(function() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/hint", true);
                xhr.send();
                xhr.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status === 200) {
                        var svg = document.querySelector('svg');
                        var img = document.createElement('img');
                        img.src = this.responseText;
                        img.style.display = 'block';
                        img.onload = function() {
                            svg.parentNode.insertBefore(img, svg);
                        };
                    }
                };
            }, 4000);
        }, false);
    </script>
</body>
</html>
